#contain{
    flex-direction: column;
}

#course-container{
    height: max-content;
}

#contain .box img{
    width: 290px;
}


@media only screen and (max-width: 1000px){
    #about {
        height: auto !important;
        
    }

    footer{
        position: sticky;
    }

    #contact-section{
        height: auto !important;
        
    }
}