<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <html>
    <head>
    <title> The Age Calculator</title>
    </head>
<body>
    
        <form name=form1>
            Enter the Birth Year
           <input type="text" name="txt" size=10>
           <br>
           <input type="button" value="Calculate" onClick='CalculateAge();'>  
        </form> 

        <script language="JavaScript">
            function CalculateAge()
            {
            var birthyear = document.form1.txt.value;
            var currentyear  = new Date();
            var age   = currentyear.getFullYear();
            document.write('They are either ' + (age-birthyear)+ ' or ' + (age-birthyear - 1));
             }
                </script>
</body>
</html>
</body>
</html>