<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>
    <body onload="setTimeout(function () { submitform(); }, 900000);">

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat &display=swap');

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box
            }

            body {
                background-color: #333
            }

            .container {
                background-color: #555;
                color: #ddd;
                border-radius: 10px;
                padding: 20px;
                font-family: 'Montserrat', sans-serif;
                max-width: 700px
            }

            .container > p {
                font-size: 32px
            }

            .question {
                width: 75%
            }

            .options {
                position: relative;
                padding-left: 40px
            }

            #options label {
                display: block;
                margin-bottom: 15px;
                font-size: 14px;
                cursor: pointer
            }

            .options input {
                opacity: 0
            }

            .checkmark {
                position: absolute;
                top: -1px;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #555;
                border: 1px solid #ddd;
                border-radius: 50%
            }

            .options input:checked~.checkmark:after {
                display: block
            }

            .options .checkmark:after {
                content: "";
                width: 10px;
                height: 10px;
                display: block;
                background: white;
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 300ms ease-in-out 0s
            }

            .options input[type="radio"]:checked~.checkmark {
                background: #21bf73;
                transition: 300ms ease-in-out 0s
            }

            .options input[type="radio"]:checked~.checkmark:after {
                transform: translate(-50%, -50%) scale(1)
            }

            .btn-primary {
                background-color: #555;
                color: #ddd;
                border: 1px solid #ddd
            }

            .btn-primary:hover {
                background-color: #21bf73;
                border: 1px solid #21bf73
            }

            .btn-success {
                padding: 5px 25px;
                background-color: #21bf73
            }


            @media (min-width: 577px) {
                .info {
                    margin-top: 2%; 
                    margin-left: 25%;
                }

                .infoemail{
                    margin-top: 3%; 
                    margin-left: 25%;
                }

                .imp{
                    margin: 0px 0px 20px 0px;
                }
            }

            @media(min-width: 768px) {
                .pl-md-5,
                .px-md-5 {
                    padding-left: 0 !important;
                }

                .info {
                    margin-top: 2%; 
                    margin-left: 25%;
                }

                .infoemail{
                    margin-top: 3%; 
                    margin-left: 25%;
                }


                .imp{
                    margin: 0px 20px 20px 0px;
                }
            }

            @media(min-width: 840px) {
                .pl-md-5,
                .px-md-5 {
                    padding-left: 0 !important;
                }

                .info {
                    margin-top: 2%; 
                    margin-left: 25%;
                }

                .infoemail{
                    margin-top: 3%; 
                    margin-left: 25%;
                }


                .imp{
                    margin: 0px 20px 0px 0px;
                }
            }


            

            @media(max-width:576px) {
                .question {
                    width: 100%;
                    word-spacing: 2px
                }
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 20%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 20%;
                }
                .imp{
                    margin: 0px 20px 20px 0px;
                }
                

            }

            @media(max-width:450px){
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 16%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 16%;
                }
            }

            @media(max-width:414px){
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 14%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 14%;
                }
            }


            @media(max-width:360px){
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 8%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 8%;
                }
            }

            @media(max-width:320px){
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 3%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 3%;
                }
            }
          

           
        </style>


        <div style="border: 2px solid red;">

            <div style="text-align: center; color: white;">
                <h1>MODULE - 2 (ADVANCED LEVEL)</h1>
                <h2>MULTIPLE CHOICE QUESTIONS TEST</h2>
            </div>

            <div class="hr-dashed" style="border: 1px solid white; width: 70%; margin: auto;"></div>

            <div style=" margin-left: 20%; margin-top: 3%; color: white;">

                <h3>Rules And Regulations</h3>
                <ul style="margin-left: 5%;">
                    <li>Make sure that you write your name and Email ID correctly.<br>
                        Otherwise, the system can't record your grades.</li>
                    <li>The given time for this quiz is 30 minutes. After that, the form will be closed for you.</li>
                    <li>Students who will not submit their answers in time will receive 0.</li>
                    <li>You can only submit your answers once.</li>
                    <li>Each question has its own grading points. After you submit your answers,<br>
                         we will evaluate your answers and let you know your grades later.</li>
                    <li>If you have any technical problem during the quiz, please take a screenshot<br>
                        or screen recording and send us.</li>
                </ul>
            </div>

            
            <div class="hr-dashed" style="border: 1px solid white; width: 70%; margin: auto;"></div>

            <form
                action="/test2/backadv" id="form1" method="POST">
                <input type="hidden"  name="coursename" value="Programming Using Python">
                <input type="hidden"  name="coursenumber" value="201">
                <input type="hidden"  name="level" value="advanced-2">


                <div class="info" style="color: white;">
                    <label style="margin: auto;"><h5 >Student Name </h5> </label>
                    <div >
                        <input class="imp"  style=" width: 300px;" type="text" name="username" placeholder="First name">
                        <input class="inp" style=" width: 300px;" type="text" name="lastname" placeholder="Last name">
                    </div>
                    
                </div>

                <div class="infoemail"style="color: white;">
                    <label style="margin: auto;"><h5>Email ID</h5></label>
                    <div >
                        <input style="width: 300px; margin-bottom: 3%;" type="email" name="email" placeholder="Email ID">
                    </div>
                </div>

                <div class="hr-dashed" style="border: 1px solid white; width: 70%; margin: auto;"></div>

               

                <!--Question-1-->
                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. What protocol can be used to retrieve web pages using python?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">urllib
                                <input type="radio" name="q1_response" value="urllib">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">bs4
                                <input type="radio" name="q1_response" value="bs4">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">HTTP
                                <input type="radio" name="q1_response" value="HTTP">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">GET
                                <input type="radio" name="q1_response" value="GET">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <!--Question-2-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. What provides two way communication between two different programs in a network.</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">socket
                                <input type="radio" name="q2_response" value="socket">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">port
                                <input type="radio" name="q2_response" value="port">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">http
                                <input type="radio" name="q2_response" value="http">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">protocol
                                <input type="radio" name="q2_response" value="protocol">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                </div>


                <!---Question-3-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. What is a python library that can be used to send and receive data over HTTP?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">http
                                <input type="radio" name="q3_response" value="http">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">urllib
                                <input type="radio" name="q3_response" value="urllib">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">port
                                <input type="radio" name="q3_response" value="port">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">header
                                <input type="radio" name="q3_response" value="header">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                </div>

                <!--Question-4-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. What is the process by which search engines retrieve webpages and build a search index called?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">scrape
                                <input type="radio" name="q4_response" value="scrape">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">parse
                                <input type="radio" name="q4_response" value="parse">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">BeautifulSoup
                                <input type="radio" name="q4_response" value="BeautifulSoup">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">spider
                                <input type="radio" name="q4_response" value="spider">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                </div>

                <!--Question-5-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following gets the value for the id in the first p tag?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">soup.p.get('id')
                                <input type="radio" name="q5_response" value="soup.p.get('id')">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.p.get('id', None)
                                <input type="radio" name="q5_response" value="soup.p.get('id', None)">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.p[id]
                                <input type="radio" name="q5_response" value="soup.p[id]">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.p['id']
                                <input type="radio" name="q5_response" value="soup.p['id']">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>


                <!--Question-6-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. How does one get the first header 1 tag after creating a soup object?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">soup.h1
                                <input type="radio" name="q6_response" value="soup.h1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.header1
                                <input type="radio" name="q6_response" value="soup.header1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.h1[0]
                                <input type="radio" name="q6_response" value="soup.h1[0]">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.h1[1]
                                <input type="radio" name="q6_response" value="soup.h1[1]">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>

                <!--Question-7-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following gets the first link tag and returns a dictionary of all attributes and values for that link tag? </b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">soup.a.attributes
                                <input type="radio" name="q7_response" value="soup.a.attributes">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.link.attrs
                                <input type="radio" name="q7_response" value="soup.link.attrs">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.a.attrs
                                <input type="radio" name="q7_response" value="soup.a.attrs">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">soup.link.attributes
                                <input type="radio" name="q7_response" value="soup.link.attributes">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>




                <!--Question-8-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following finds all link tags?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">all_links = soup.find('a')
                                <input type="radio" name="q8_response" value="all_links = soup.find('a')">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">all_links = soup.findall('a')
                                <input type="radio" name="q8_response" value="all_links = soup.findall('a')">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">all_links = soup.findall('link')
                                <input type="radio" name="q8_response" value="all_links = soup.findall('link')">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">all_links = soup.find_all('a')
                                <input type="radio" name="q8_response" value="all_links = soup.find_all('a')">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>

                <!--Question-9-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following finds all paragraph tags with class b-soup?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">all_links = soup.find_all('p', class='b-soup')
                                <input type="radio" name="q9_response" value="all_links = soup.find_all('p', class='b-soup')">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">all_links = soup.find_all('paragraph', class='b-soup')
                                <input type="radio" name="q9_response" value="all_links = soup.find_all('paragraph', class='b-soup')">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">all_links = soup.find_all('p', class_='b-soup')
                                <input type="radio" name="q9_response" value="all_links = soup.find_all('p', class_='b-soup')">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">all_links = soup.find_all('paragraph', class_='b-soup')
                                <input type="radio" name="q9_response" value="all_links = soup.find_all('paragraph', class_='b-soup')">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>




                <!--Question-10-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. After creating an empty dictionary and getting a list of all link tags, how does one put the link_tag text as keys and the link_tag href attribute as values for the dictionary?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">loop through the elements of the list and do dictionary[link_tag.text] = a.get('href', None)
                                <input type="radio" name="q10_response" value="loop through the elements of the list and do dictionary[link_tag.text] = a.get('href', None)">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">loop through the elements of the list and do dictionary[link_tag.text] = a['href']
                                <input type="radio" name="q10_response" value="loop through the elements of the list and do dictionary[link_tag.text] = a['href']">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">loop through the elements of the list and do dictionary[link_tag.text] = link_tag.get('href', None)
                                <input type="radio" name="q10_response" value="loop through the elements of the list and do dictionary[link_tag.text] = link_tag.get('href', None)">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">loop through the elements of the list and do dictionary[link_tag.text] = link_tag[href]
                                <input type="radio" name="q10_response" value="loop through the elements of the list and do dictionary[link_tag.text] = link_tag[href]">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>



                <!--Question-11-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. The JSON format is most similar to which of the following?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">JavaScript arrays
                                <input type="radio" name="q11_response" value="JavaScript arrays">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">JavaScript
                                <input type="radio" name="q11_response" value="JavaScript">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">XML nodes
                                <input type="radio" name="q11_response" value="XML nodes">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">Python lists and dictionaries
                                <input type="radio" name="q11_response" value="Python lists and dictionaries">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>




                <!--Question-12-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following options is the correct way to import the regex library?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">import regex
                                <input type="radio" name="q12_response" value="import regex">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">import re
                                <input type="radio" name="q12_response" value="import re">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">import Regex
                                <input type="radio" name="q12_response" value="import Regex">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">import Re
                                <input type="radio" name="q12_response" value="import Re">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>


                <!--Question-13-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following is true about an API?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">An API defines the header bits in the first 8 bits of all IP packets
                                <input type="radio" name="q13_response" value="An API defines the header bits in the first 8 bits of all IP packets">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">An API keeps servers running even when the power is off
                                <input type="radio" name="q13_response" value="An API keeps servers running even when the power is off">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">An API is a contract that defines how to use a software library
                                <input type="radio" name="q13_response" value="An API is a contract that defines how to use a software library">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">An API defines the pin-outs for the USB connectors
                                <input type="radio" name="q13_response" value="An API defines the pin-outs for the USB connectors">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>


                <!--Question-14-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of these command lines will match lines in mbox-short.txt starting with ‘UMich’?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options"># grep '^Umich' mbox-short.txt
                                <input type="radio" name="q14_response" value="# grep '^Umich' mbox-short.txt">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">$ grep '^UMich' mbox-short.txt
                                <input type="radio" name="q14_response" value="$ grep '^UMich' mbox-short.txt">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">$ grep 'UMich' mbox-short.txt
                                <input type="radio" name="q14_response" value="$ grep 'UMich' mbox-short.txt">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options"># grep 'UMich' mbox-short.txt
                                <input type="radio" name="q14_response" value="# grep 'UMich' mbox-short.txt">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>


                <!--Question-15-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. If you are having trouble remembering what methods the regex library contains, which command can you use to find said methods?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">help()
                                <input type="radio" name="q15_response" value="help()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">dir(regex)
                                <input type="radio" name="q15_response" value="dir(regex)">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">dir(re)
                                <input type="radio" name="q15_response" value="dir(re)">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">import re
                                <input type="radio" name="q15_response" value="import re">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>

                <div style="text-align: center; margin: 40px 0px;">
                    <button class="btn btn-primary" type="submit" form="form1" value="Submit">Submit</button>
                </div>

            </form>
        </div>

        <script>
            function submitform() {
            alert('<<<SUBMITTED>>>');
            document.getElementById("form1").submit();
        }
        </script>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html></body></html>
