<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>
    <body>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat &display=swap');

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box
            }

            body {
                background-color: #333
            }

            .container {
                background-color: #555;
                color: #ddd;
                border-radius: 10px;
                padding: 20px;
                font-family: 'Montserrat', sans-serif;
                max-width: 700px
            }

            .container > p {
                font-size: 32px
            }

            .question {
                width: 75%
            }

            .options {
                position: relative;
                padding-left: 40px
            }

            #options label {
                display: block;
                margin-bottom: 15px;
                font-size: 14px;
                cursor: pointer
            }

            .options input {
                opacity: 0
            }

            .checkmark {
                position: absolute;
                top: -1px;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #555;
                border: 1px solid #ddd;
                border-radius: 50%
            }

            .options input:checked~.checkmark:after {
                display: block
            }

            .options .checkmark:after {
                content: "";
                width: 10px;
                height: 10px;
                display: block;
                background: white;
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 300ms ease-in-out 0s
            }

            .options input[type="radio"]:checked~.checkmark {
                background: #21bf73;
                transition: 300ms ease-in-out 0s
            }

            .options input[type="radio"]:checked~.checkmark:after {
                transform: translate(-50%, -50%) scale(1)
            }

            .btn-primary {
                background-color: #555;
                color: #ddd;
                border: 1px solid #ddd
            }

            .btn-primary:hover {
                background-color: #21bf73;
                border: 1px solid #21bf73
            }

            .btn-success {
                padding: 5px 25px;
                background-color: #21bf73
            }


            @media (min-width: 577px) {
                .info {
                    margin-top: 2%; 
                    margin-left: 25%;
                }

                .infoemail{
                    margin-top: 3%; 
                    margin-left: 25%;
                }

                .imp{
                    margin: 0px 0px 20px 0px;
                }
            }

            @media(min-width: 768px) {
                .pl-md-5,
                .px-md-5 {
                    padding-left: 0 !important;
                }

                .info {
                    margin-top: 2%; 
                    margin-left: 25%;
                }

                .infoemail{
                    margin-top: 3%; 
                    margin-left: 25%;
                }


                .imp{
                    margin: 0px 20px 20px 0px;
                }
            }

            @media(min-width: 840px) {
                .pl-md-5,
                .px-md-5 {
                    padding-left: 0 !important;
                }

                .info {
                    margin-top: 2%; 
                    margin-left: 25%;
                }

                .infoemail{
                    margin-top: 3%; 
                    margin-left: 25%;
                }


                .imp{
                    margin: 0px 20px 0px 0px;
                }
            }


            

            @media(max-width:576px) {
                .question {
                    width: 100%;
                    word-spacing: 2px
                }
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 20%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 20%;
                }
                .imp{
                    margin: 0px 20px 20px 0px;
                }
                

            }

            @media(max-width:450px){
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 16%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 16%;
                }
            }

            @media(max-width:414px){
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 14%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 14%;
                }
            }


            @media(max-width:360px){
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 8%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 8%;
                }
            }

            @media(max-width:320px){
                .infoemail{
                    margin-top: 3%; 
                    margin-left: 3%;
                }
                .info{
                    margin-top: 2%; 
                    margin-left: 3%;
                }
            }
          

           
        </style>


        <div style="border: 2px solid red;">

            <div style="text-align: center; color: white;">
                <h1>MODULE - 3 (EVALUATION TEST)</h1>
                <h2>MULTIPLE CHOICE QUESTIONS TEST</h2>
            </div>

            <div class="hr-dashed" style="border: 1px solid white; width: 70%; margin: auto;"></div>

            <div style=" margin-left: 20%; margin-top: 3%; color: white;">

                <h3>Rules And Regulations</h3>
                <ul style="margin-left: 5%;">
                    <li>Make sure that you write your name and Email ID correctly.<br>
                        Otherwise, the system can't record your grades.</li>
                    <li>The given time for this quiz is 30 minutes. After that, the form will be closed for you.</li>
                    <li>Students who will not submit their answers in time will receive 0.</li>
                    <li>You can only submit your answers once.</li>
                    <li>Each question has its own grading points. After you submit your answers,<br>
                         we will evaluate your answers and let you know your grades later.</li>
                    <li>If you have any technical problem during the quiz, please take a screenshot<br>
                        or screen recording and send us.</li>
                </ul>
            </div>

            
            <div class="hr-dashed" style="border: 1px solid white; width: 70%; margin: auto;"></div>

            <form
                action="/test2/final" id="form1" method="POST">
                <input type="hidden"  name="coursename" value="Programming Using Python">
                <input type="hidden"  name="coursenumber" value="201">
                <input type="hidden"  name="level" value="final">


                <div class="info" style="color: white;">
                    <label style="margin: auto;"><h5 >Student Name </h5> </label>
                    <div >
                        <input class="imp"  style=" width: 300px;" type="text" name="username" placeholder="First name">
                        <input class="inp" style=" width: 300px;" type="text" name="lastname" placeholder="Last name">
                    </div>
                    
                </div>

                <div class="infoemail"style="color: white;">
                    <label style="margin: auto;"><h5>Email ID</h5></label>
                    <div >
                        <input style="width: 300px; margin-bottom: 3%;" type="email" name="email" placeholder="Email ID">
                    </div>
                </div>

                <div class="hr-dashed" style="border: 1px solid white; width: 70%; margin: auto;"></div>

               

                <!--Question-1-->
                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. What is the name of the SQL database the comes distributed with Python?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">PySQL
                                <input type="radio" name="q1_response" value="PySQL">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">PostgreSQL
                                <input type="radio" name="q1_response" value="PostgreSQL">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">SQLite
                                <input type="radio" name="q1_response" value="SQLite">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">MySQL
                                <input type="radio" name="q1_response" value="MySQL">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <!--Question-2-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. By using sqlite3 , we can store our data on</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">local
                                <input type="radio" name="q2_response" value="local">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">Global
                                <input type="radio" name="q2_response" value="Global">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">Server
                                <input type="radio" name="q2_response" value="Server">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">None of the above
                                <input type="radio" name="q2_response" value="None of the above">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                </div>


                <!---Question-3-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. close() function in sqlite3 is used for the :</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">To close the query
                                <input type="radio" name="q3_response" value="To close the query">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">To close the table
                                <input type="radio" name="q3_response" value="To close the table">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">To close the database
                                <input type="radio" name="q3_response" value="To close the database">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">None of the above
                                <input type="radio" name="q3_response" value="None of the above">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                </div>

                <!--Question-4-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. connect() function in sqlite3 is used for ?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">To connect the database
                                <input type="radio" name="q4_response" value="To connect the database">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">To open the database
                                <input type="radio" name="q4_response" value="To open the database">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">To create a database
                                <input type="radio" name="q4_response" value="To create a database">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">All of the above
                                <input type="radio" name="q4_response" value="All of the above">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                </div>

                <!--Question-5-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Correct way to import the sqlite3 in the program ?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">import sqlite3
                                <input type="radio" name="q5_response" value="import sqlite3">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">import sqlite3 as s
                                <input type="radio" name="q5_response" value="import sqlite3 as s">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">from sqlite3 import *
                                <input type="radio" name="q5_response" value="from sqlite3 import *">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">All of the above
                                <input type="radio" name="q5_response" value="All of the above">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>


                <!--Question-6-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. For fetch the data, which function we use to run the select query ?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">fetch()
                                <input type="radio" name="q6_response" value="fetch()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">rawquery()
                                <input type="radio" name="q6_response" value="rawquery()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">executequery()
                                <input type="radio" name="q6_response" value="executequery()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">execute()
                                <input type="radio" name="q6_response" value="execute()">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>

                <!--Question-7-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. How we can call the function of sqlite3, if we import by import sqlite3 as sq ?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">sqlite.function()
                                <input type="radio" name="q7_response" value="sqlite.function()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">function()
                                <input type="radio" name="q7_response" value="function()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">sq.function()
                                <input type="radio" name="q7_response" value="sq.function()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">None of the above
                                <input type="radio" name="q7_response" value="None of the above">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>




                <!--Question-8-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following function are used to close the database?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">exit()
                                <input type="radio" name="q8_response" value="exit()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">def()
                                <input type="radio" name="q8_response" value="def()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">disconnect()
                                <input type="radio" name="q8_response" value="disconnect()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">close()
                                <input type="radio" name="q8_response" value="close()">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>

                <!--Question-9-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following function are used to execute the query in sqlite3 python ?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">execute()
                                <input type="radio" name="q9_response" value="execute()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">query()
                                <input type="radio" name="q9_response" value="query()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">executequery()
                                <input type="radio" name="q9_response" value="executequery()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">run()
                                <input type="radio" name="q9_response" value="run()">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>




                <!--Question-10-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following is correct syntax of the connect() function in sqlite3?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">sqlite.connect()
                                <input type="radio" name="q10_response" value="sqlite.connect()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">sqlite.connect.database
                                <input type="radio" name="q10_response" value="sqlite.connect.database">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">sqlite.connect(database)
                                <input type="radio" name="q10_response" value="sqlite.connect(database)">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">None of the above
                                <input type="radio" name="q10_response" value="None of the above">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>



                <!--Question-11-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following is not the function of the sqlite3 in python ?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">connect()
                                <input type="radio" name="q11_response" value="connect()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">close()
                                <input type="radio" name="q11_response" value="close()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">execute()
                                <input type="radio" name="q11_response" value="execute()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">raw()
                                <input type="radio" name="q11_response" value="raw()">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>




                <!--Question-12-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following tool are provided by the python to manage the database ?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">sqlite3
                                <input type="radio" name="q12_response" value="sqlite3">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">MySql
                                <input type="radio" name="q12_response" value="MySql">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">infomix
                                <input type="radio" name="q12_response" value="infomix">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">All of the above
                                <input type="radio" name="q12_response" value="All of the above">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>


                <!--Question-13-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. When reading data across the network in Python 3, what method must be used to convert it to the internal format used by strings?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">split()
                                <input type="radio" name="q13_response" value="split()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">internal()
                                <input type="radio" name="q13_response" value="internal()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">rstrip()
                                <input type="radio" name="q13_response" value="rstrip()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">decode()
                                <input type="radio" name="q13_response" value="decode()">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>


                <!--Question-14-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. What does the executescript() method in the Python SQLite cursor object do that the normal execute() method does not do?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">It allows database tables to be created
                                <input type="radio" name="q14_response" value="It allows database tables to be created">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">It allows embeded Python to be executed
                                <input type="radio" name="q14_response" value="It allows embeded Python to be executed">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">It allows multiple SQL statements separated by semicolons
                                <input type="radio" name="q14_response" value="It allows multiple SQL statements separated by semicolons">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">It allows embedded JavaScript to be executed
                                <input type="radio" name="q14_response" value="It allows embedded JavaScript to be executed">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>


                <!--Question-15-->

                <div class="container mt-sm-5 my-1">
                    <div class="question ml-sm-5 pl-sm-5 pt-2">
                        <div class="py-2 h5">
                            <b>Q. Which of the following is not the correct way to import the sqlite3 ?</b>
                        </div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">import sqlite3 as s
                                <input type="radio" name="q15_response" value="import sqlite3 as s">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">import sqlite3 as p
                                <input type="radio" name="q15_response" value="import sqlite3 as p">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">import sqlite3 as sq
                                <input type="radio" name="q15_response" value="import sqlite3 as sq">
                                <span class="checkmark"></span>
                            </label>
                            <label class="options">None of the above
                                <input type="radio" name="q15_response" value="None of the above">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>

                <div style="text-align: center; margin: 40px 0px;">
                    <button class="btn btn-primary" type="submit" form="form1" value="Submit">Submit</button>
                </div>

            </form>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html></body></html>
